/* .hamburger {
  z-index: 30; 
  
}


@media screen and (max-width: 1023px) {
  
  .hamburger {
    display: block; 
  }
  
}

@media screen and (min-width: 1024px) {
  
  .hamburger {
    display: none; 
  }
  
} */




.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
}

.header-bg {
  background-color: rgba(31, 146, 3, 0.9);
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

#dropdown-menu a {
  color: black;
}

.header .nav-menu a {
  color: #ffffff;
}

.header .navbar img {
  width: 50px;
  height: auto;
}

.header .nav-menu {
  display: flex;
  flex-direction: row;
  width: auto;
  position: relative;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
  opacity: 1;
  padding-top: 0;
  transition: none;
}

.header .nav-menu.active {
  display: flex;
  transform: translateY(0);
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }



  /* Show the nav menu links when the hamburger button is clicked */
  .nav-menu.active {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 90px; 
    left: 0;
    background-color: rgba(31, 146, 3, 0.9); 
    z-index: 1;
    opacity: 0.95;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;
  }

  
  .nav-menu li {
    text-align: center;
    margin-bottom: 15px;
  }

  
  .header-bg {
    background-color: rgba(31, 146, 3, 0.9); 
  }
}