@font-face {
    font-family: 'Phetsarath_OT';
    src: url('../fonts/phetsarath_ot.eot');
    src: url('../fonts/phetsarath_ot.eot?#iefix') format('embedded-opentype'), url('../fonts/phetsarath_ot.woff2') format('woff2'), url('../fonts/phetsarath_ot.woff') format('woff'), url('../fonts/phetsarath_ot.ttf') format('truetype'), url('../fonts/phetsarath_ot.svg#Phetsarath_OT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/dhyana.css);
@font-face {
    font-family: 'Dhyana_bold';
    font-style: normal;
    font-weight: 700; 
    src: url(//fonts.gstatic.com/ea/dhyana/v8/Dhyana-Bold.eot);
    src: url(//fonts.gstatic.com/ea/dhyana/v8/Dhyana-Bold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/dhyana/v8/Dhyana-Bold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/dhyana/v8/Dhyana-Bold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/dhyana/v8/Dhyana-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Dhyana';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/dhyana/v8/Dhyana-Regular.eot);
    src: url(//fonts.gstatic.com/ea/dhyana/v8/Dhyana-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/dhyana/v8/Dhyana-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/dhyana/v8/Dhyana-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/dhyana/v8/Dhyana-Regular.ttf) format('truetype');
}

@import url(//fonts.googleapis.com/earlyaccess/laomuangdon.css);
@font-face {
    font-family: 'Lao Muang Don';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/laomuangdon/v3/LaoMuangDon-Regular.eot);
    src: url(//fonts.gstatic.com/ea/laomuangdon/v3/LaoMuangDon-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/laomuangdon/v3/LaoMuangDon-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/laomuangdon/v3/LaoMuangDon-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/laomuangdon/v3/LaoMuangDon-Regular.ttf) format('truetype');
}

@import url(//fonts.googleapis.com/earlyaccess/laomuangkhong.css);
@font-face {
    font-family: 'Lao Muang Khong';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/laomuangkhong/v3/LaoMuangKhong-Regular.eot);
    src: url(//fonts.gstatic.com/ea/laomuangkhong/v3/LaoMuangKhong-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/laomuangkhong/v3/LaoMuangKhong-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/laomuangkhong/v3/LaoMuangKhong-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/laomuangkhong/v3/LaoMuangKhong-Regular.ttf) format('truetype');
}

@import url(//fonts.googleapis.com/earlyaccess/laosanspro.css);
@font-face {
    font-family: 'Lao Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/laosanspro/v3/LaoSansPro-Regular.eot);
    src: url(//fonts.gstatic.com/ea/laosanspro/v3/LaoSansPro-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/laosanspro/v3/LaoSansPro-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/laosanspro/v3/LaoSansPro-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/laosanspro/v3/LaoSansPro-Regular.ttf) format('truetype');
}

@import url(//fonts.googleapis.com/earlyaccess/notosanslaoui.css);
@font-face {
    font-family: 'Noto Sans Lao UI';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanslaoui/v5/NotoSansLaoUI-Regular.eot);
    src: url(//fonts.gstatic.com/ea/notosanslaoui/v5/NotoSansLaoUI-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/notosanslaoui/v5/NotoSansLaoUI-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanslaoui/v5/NotoSansLaoUI-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanslaoui/v5/NotoSansLaoUI-Regular.ttf) format('truetype');
  }

@import url(//https://fonts.googleapis.com/earlyaccess/souliyo.css);
@font-face {
    font-family: 'Souliyo';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/souliyo/v3/Souliyo-Regular.eot);
    src: url(//fonts.gstatic.com/ea/souliyo/v3/Souliyo-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/souliyo/v3/Souliyo-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/souliyo/v3/Souliyo-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/souliyo/v3/Souliyo-Regular.ttf) format('truetype');
}

@import url(//db.onlinewebfonts.com/c/85f6196fd9a97775717778493321b8af?family=Noto+Sans+Lao+UI);
@font-face {
    font-family: "Noto Sans";
    src: url("//db.onlinewebfonts.com/t/85f6196fd9a97775717778493321b8af.eot");
    src: url("//db.onlinewebfonts.com/t/85f6196fd9a97775717778493321b8af.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/85f6196fd9a97775717778493321b8af.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/85f6196fd9a97775717778493321b8af.woff") format("woff"), url("//db.onlinewebfonts.com/t/85f6196fd9a97775717778493321b8af.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/85f6196fd9a97775717778493321b8af.svg#Noto Sans Lao UI") format("svg");
}

@font-face {
    font-family: 'Ean13';
    src: url('../fonts/ean13.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UPC-A';
    src: url('../fonts/UPC-A.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Souliyo {
    font-family: 'Souliyo', sans-serif;
}

.Dhyana {
    font-family: 'Dhyana', sans-serif;
}

.Dhyana_bold {
    font-family: 'Dhyana_bold', sans-serif;
}

.Lao_Muang_Don {
    font-family: 'Lao Muang Don', sans-serif;
}

.Lao_Muang_Khong {
    font-family: 'Lao Muang Khong', sans-serif;
}

.Lao_Sans_Pro {
    font-family: 'Lao Sans Pro', sans-serif;
}

.phetsarath {
    font-family: 'Phetsarath_OT';
}

.Noto_Sans {
    font-family: 'Noto Sans';
}

.Noto_Sans_Lao_UI {
    font-family: 'Noto Sans Lao UI', sans-serif;
}

.ean13 {
    font-family: 'Ean13';
}

.UPC-A {
    font-family: 'Ean13';
}